{% extends 'users/base.html' %}
{% load static %}

{% block title %}Профиль — {{ user.username }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-header">
    <div class="avatar">
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}">
    {% else %}
        <span>{{ user.username|first|upper }}</span>
    {% endif %}
    </div>
    {% if user.id == me.id %}
    <div class="avatar-actions">
        <a href="{% url 'users:change_avatar' %}" class="change-avatar-btn">
            Изменить аватар
        </a>
    </div>
    {% endif %}
    <h2>{{ user.username }}</h2>
    <p class="profile-member-since">На сайте с {{ user.created_at|date:"F Y" }}</p>
</div>

{% if user.bio %}
    <div class="info-row">
        <div class="info-label">О себе</div>
        <div class="info-value">{{ user.bio }}</div>
    </div>
{% endif %}

<div class="info-row">
    <div class="info-label">Email</div>
    <div class="info-value">{{ user.email }}</div>
</div>

<div class="stats">
    <div class="stat-card">
        <div class="stat-number">{{ user.free_subscribers_count }}</div>
        <div class="stat-label">Бесплатные подписчики</div>
    </div>
    <div class="stat-card">
        <div class="stat-number">{{ user.paid_subscribers_count }}</div>
        <div class="stat-label">Платные подписчики</div>
    </div>
</div>

{% if user.monetizations %}
    <div class="info-row">
        <div class="info-label">Монетизация</div>
        <div class="info-value">Активна ({{ user.get_monetizations_display }})</div>
    </div>
    <div class="info-row">
        <div class="info-label">Цена в месяц</div>
        <div class="info-value">${{ user.price_month }}</div>
    </div>
{% endif %}

<form method="post" action="{% url 'users:logout' %}">
    {% csrf_token %}
    {% if user.id == me.id %}
        <button type="submit" class="logout-btn">Выйти</button>
    {% endif %}
</form>
{% endblock %}
